h1.text-blue-darker.mt-4 Edit User

= render("form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)))

= link("Back", to: Routes.user_path(@conn, :index), class: "inline-block asign-baseline font-bold text-sm text-blue hover:text-blue-darker")
